@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: green;
}

.center-container {
  text-align: center;
}

.carta {
  width: 160px;
  height: 250px;
  background-color: white;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Agrega un espacio de relleno para los elementos */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  font-size: 40px;
  font-weight: bold;
}

.palo {
  font-size: 36px;
  line-height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
